# EditorConfig http://EditorConfig.org
root = true
# ---------------------
# Baseline
# ---------------------
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 80
# Give operators breathing room, but not brackets
spaces_around_operators = true
spaces_around_brackets = false
quote_type = auto
spelling_language = en
# shfmt
shell_variant = auto
keep_padding = false
space_redirects = false
switch_case_indent = false
function_next_line = false
binary_next_line = true

# ---------------------
# Shell scripts
# ---------------------
[*.sh,*.bash*,bash_*,PKGBUILD]
keep_padding = false
space_redirects = false
switch_case_indent = false
function_next_line = false
binary_next_line = true
shell_variant = bash

[.profile,*.dash]
shell_variant = posix

[*.fish,fish_*,fishd.*]
indent_style = space
indent_size = 4
tab_width = 4

[*.{bat,cmd}]
indent_style = tab
indent_size = 4

# ---------------------
# Markdown, Patches
# ---------------------
[*.{md,patch}]
trim_trailing_whitespace = false
insert_final_newline = true

[*.md]
max_line_length = 140

# ---------------------
# Go, Rust, Zig, Makefiles
# ---------------------
[Makefile,go.mod,go.sum,.gitmodules,*.{mk,go,rs,zig}]
indent_style = tab
indent_size = 4
tab_width = 4

# ---------------------
# Python
# ---------------------
[*.{py,pyw,pyi}]
indent_size = 4
tab_width = 4
max_line_length = 120

# ---------------------
# Javascript
# ---------------------
[*.{js,mjs,cjs,jsx,ts,mts,cts,tsx}]
quote_type = single

[*.xml]
indent_size = 4

[{*.yml, *.yaml}]
max_line_length = 120
