# ---------------------
# Git
# ---------------------
.git/
.git
.github-personal-access-token
.gitconfig.local

# ---------------------
# Dotter
# ---------------------
.dotter/local.toml
.dotter/cache.toml
.dotter/cache

# ---------------------
# Dotfiles / shell history
# ---------------------
.*history
*history
*lesshst
*-hst
fishd.*
.*hist
.thumbnails/

# ---------------------
# XDG user dirs
# ---------------------
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/

# ---------------------
# Security
# ---------------------
.gnupg/
.gitconfig.local
.ssh/
!.ssh/config
.android/
.config/gh/hosts.yml

# ---------------------
# Backups
# ---------------------
*.bak
*.gho
*.ori
*.orig
*.rej
*.TAG

# ---------------------
# Logs / tmp
# ---------------------
*.log
*.log.*
log/
logs/
*.old
*.tmp
tmp/
*.kate-swp
*swp.*
token
nohup.out
.~lock.*
*.lock
*.lck
.cache
.nv/ComputeCache/
npm-debug.log*
/package-lock.json
pids
*.pid
*.seed
*.pid.lock

# ---------------------
# Linux system / editor files
# ---------------------
.directory
.Trash-*
.Trashes
.fuse_hidden*
*~
.nfs*

# ---------------------
# Binary / compiled files
# ---------------------
*.com
*.dll
*.exe
*.o
*.so
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt
node_modules/
go/
jspm_packages/
dependencies/composer/vendor
target/
build/
.rustup/
.cargo/
!.cargo/config.toml
**/*.rs.bk
*.mutants.out*/
.npm
npm-debug.log*
*.tgz
dist

# ---------------------
# Windows system files
# ---------------------
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ---------------------
# Super-linter ouputs
# ---------------------
super-linter.report
super-linter-output/
custom-super-linter-output-directory-name/
super-linter-github-actions-step-summary-output*
github-step-summary.md

# GitHub Actions leftovers
github_conf

# ---------------------
# Other
# ---------------------
.vscode/*
!.vscode/extensions.json
.idea
# ---------------------
# Linter
# ---------------------
megalinter-reports/
**/megalinter-reports/*
mega-linter.report
*megalinter_file_names_cspell.txt

.ruff_cache/
.eslintcache
/package-lock.json
