# EditorConfig
# http://EditorConfig.org

# Don't search any further up the directory tree
root = true

# Baseline
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Shell scripts
[*.sh]
max_line_length = 79
keep_padding = true
space_redirects = true
switch_case_indent = true

# Markdown
[*.md]
# trailing whitespaces have meaning on Markdown interpretation
trim_trailing_whitespace = false

[{Makefile,**.mk}]
# Makefiles require tabs
indent_style = tab
indent_size=4

[*.{go,rs,zig,fish}]
indent_style=tab
indent_size=4



[*.{yml,yaml}]
indent_size = 2
