# EditorConfig
# http://EditorConfig.org
# Don't search any further up the dir tree
root = true

# Baseline
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

# Shell scripts
[*.sh,*.bash]
keep_padding = true
space_redirects = true
switch_case_indent = true
indent_style = space
indent_size = 2
tab_width = 2
function_next_line = true
binary_next_line = true

[*.bash]
shell_variant = bash

[*.fish]
indent_style = space
indent_size = 4
tab_width = 4

[*.dash,*.mksh]
indent_style = space
indent_size = 2
tab_width = 2

# Markdown
[*.md]
# trailing whitespaces have meaning on Markdown interpretation
trim_trailing_whitespace = false

[*.yml,*.yaml]
indent_style = space

[Makefile,*.mk]
# Makefiles require tabs
indent_style = tab
indent_size=4

[*.go,*.rs,*.zig]
indent_style = tab
indent_size = 4
