[core]
	excludesfile = /home/ven0m0/.gitignore
	attributesfile = /home/ven0m0/.gitattributes
	pager = delta
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = micro
	autocrlf = input
	preloadIndex = true
	eol = native
	#compression = -1
	compression = 9
	multiPackIndex = true
	sparseCheckout = true
	sparseCheckoutCone = true
	fsyncMethod = batch
[interactive]
	diffFilter = delta --color-only --features=interactive
[color]
	branch = "auto"
	diff = "auto"
	status = "auto"
	ui = auto
[push]
	default = simple
[pull]
	ff = only
	rebase = true
[pack]
	threads = 0
	allowPackReuse = true
	useBitmapBoundaryTraversal = true
	useSparse = true
	indexVersion = 2
	preferBitmapTips = true
	writeBitmapHashCache = true
	writeBitmapLookupTable = true
[diff]
	algorithm = histogram
	suppressBlankEmpty = true
	renames = copies
	colorMoved = plain
	tool = meld
[merge]
	conflictStyle = zdiff3
	tool = meld
[rerere]
	enabled = true
	autoupdate = true
[icdiff]
    options = "--line-numbers"
[gc]
	auto = 256
	autoPackLimit = 25
	autoDetach = true
	packRefs = true
	reflogExpireUnreachable = 7.days
	reflogExpire = 14.days
	aggressiveDepth = 250
	aggressiveWindow = 250
	repackFilter = blob:none
[checkout]
	workers = 0
[index]
	skipHash = true
	sparse = true
	threads = 0
	version = 4
[fetch]
	prune = true
	pruneTags = true
	all = true
	parallel = 0
[help]
	autoCorrect = prompt
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
	backend = merge
[gui]
	fastCopyBlame = true
	pruneDuringFetch = true
	encoding = utf-8
[grep]
	threads = 0
[receive]
	autogc = true
	advertiseAtomic = true
[http]
	sslBackend = openssl
	maxRequests = 10
	version = HTTP/2
	sslVersion = tlsv1.3
	postBuffer = 104857600
[fsck]
	duplicateEntries = true
[apply]
	whitespace = "fix"
[delta]
	hyperlinks = true
	features = decorations
	line-numbers = true
	decorations = true
	navigate = true  # use n and N to move between diff sections
[protocol]
	version = 2
[feature]
	manyFiles = true
	experimental = true
[status]
	aheadBehind = true
	showUntrackedFiles = no
	short = true
[submodule]
	fetchJobs = 0
[repack]
	cruftThreads = 0
[maintenance]
	strategy = incremental
[include]
	path = /home/ven0m0/.gitconfig.local
[pager]
	log = delta
	reflog = delta
	show = delta
	diff = delta
[advice]
	statusUoption = false
[mergetool "meld"]
	useAutoMerge = true
[mergetool]
	prompt = false
[difftool]
	prompt = false
[cola]
 startupmode = folder
[diff-so-fancy]
	markEmptyLines = false
	stripLeadingSymbols = false
[bash]
	showInformativeStatus = false
	showUntrackedFiles = no
	showDirtyState = no
