[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = delta
	whitespace = fix,-indent-with-non-tab,trailing-space
	editor = micro
	autocrlf = input
	preloadIndex = true
	fscache = true
	untrackedCache = true
	eol = native
	compression = -1
	multiPackIndex = true
	sparseCheckout = true
	sparseCheckoutCone = true
	fsyncMethod = batch
[color]
	branch = "auto"
	diff = "auto"
	status = "auto"
	ui = auto
[push]
	default = simple
	useBitmaps = true
[pull]
	ff = only
	rebase = true
[pack]
	threads = 0
	allowPackReuse = true
	useBitmapBoundaryTraversal = true
	useSparse = true
	useBitmaps = true
	indexVersion = 2
	preferBitmapTips = true
	writeBitmapHashCache = true
	writeBitmapLookupTable = true
[diff]
	algorithm = histogram
	suppressBlankEmpty = true
	renames = copies
	colorMoved = plain
[merge]
	conflictStyle = zdiff3
[rerere]
	enabled = true
	autoupdate = true
[icdiff]
    options = "--line-numbers"
[gc]
	auto = 256
	autoPackLimit = 25
	autoDetach = true
	packRefs = true
	reflogExpireUnreachable = 7.days
	reflogExpire = 14.days
	aggressiveDepth = 250
	aggressiveWindow = 250
	repackFilter = blob:none
[checkout]
	workers = 8
[index]
	skipHash = true
	sparse = true
	threads = 0
	version = 4
[fetch]
	prune = true
	pruneTags = true
	all = true
	parallel = 8
[help]
	autoCorrect = prompt
[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true
	backend = merge
[gui]
	fastCopyBlame = true
	pruneDuringFetch = true
	encoding = utf-8
[grep]
	threads = 0
[receive]
	autogc = true
	advertiseAtomic = true
[http]
	sslBackend = openssl
	maxRequests = 10
	version = HTTP/2
	sslVersion = tlsv1.3
	postBuffer = 104857600
[sequence]
	editor = micro
[fsck]
	duplicateEntries = true
[apply]
	whitespace = "nowarn"
[delta]
	hyperlinks = true
[protocol]
	version = 2
[feature]
	manyFiles = true
	experimental = true
[status]
	aheadBehind = true
[submodule]
	fetchJobs = 8
[format]
	thread = 16
[repack]
	cruftThreads = 16
[sendemail]
	thread = 16
[maintenance]
	strategy = incremental
[include]
	path = ~/.gitconfig.local
