# git credential file
.gitconfig.local

# Dotfiles
.bash_history
.cache

# local files are for host-specific overrides
.dotter/local.toml

# ignore caches
.dotter/cache.toml
.dotter/cache

# Dotfiles
.*hist
.*history
.thumbnails/
.wget-hsts
.lesshst
.bash_history

# XDG user dirs
Desktop/
Documents/
Downloads/
Music/
Pictures/
Public/
Templates/
Videos/

# Security
.gnupg/*
.ssh/

# Backups
*.bak
*.gho
*.ori
*.orig
*.rej
*.TAG
*.bak*

# Rust
**/*.rs.bk
**/mutants.out*/
.cargo/.package-cache
.cargo/.global-cache
.cargo/.package-cache-mutate

# Logs and temps
*.log
log/
logs/
*.log.*
*.old
*.tmp
tmp/
.*.kate-swp
*swp.*
token
nohup.out
.~lock.*#
token

# Linux
.directory
.Trash-*
.Trashes
.fuse_hidden*
*~
.nfs*

# Binary
*.com
*.dll
*.exe
*.o
*.so
__pycache__
.pytest_cache/
*.pyc
*.pyo
node_modules
target
build

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Adb
adbkey
adbkey.pub
adb.*
