# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and 'info rluserman' for more information.
# Credit to:
# https://github.com/dotphiles/dotphiles/blob/master/input/inputrc
# https://github.com/Rudxain/dotfiles
$include /etc/inputrc

# UTF-8 support
set input-meta on
set output-meta on
set convert-meta off

# Fix stupid "\e[200~" whenever I paste in bash
set enable-bracketed-paste off

### Fish like tab completions in Bash
# Use TAB to cycle forward through completions
"\t": menu-complete
# Use Shift-TAB to cycle backward through completions
"\e[Z": menu-complete-backward

# Tab completions:
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set match-hidden-files off
set skip-completed-text on
set completion-map-case on
set completion-ignore-case On
set completion-query-items 200
set completion-prefix-display-length 2
set mark-symlinked-directories on
set visible-stats on
set page-completions off

set colored-completion-prefix on
set colored-stats on
# Other
set meta-flag on
set echo-control-characters off
set bell-style none
# set enable-keypad on

# set editing-mode vi
# vi mode fix
# C-L: clear-screen

# Adds punctuation as word delimiters
set bind-tty-special-chars off

# allow the use of the Home/End keys
# https://wiki.archlinux.org/index.php/Home_and_End_keys_not_working
#"\e[1~": beginning-of-line
#"\e[4~": end-of-line
# those two are for rxvt
"\e[7~":beginning-of-line
"\e[8~":end-of-line

# allow the use of the Delete/Insert keys
"\e[3~": delete-char
"\e[2~": quoted-insert

# smart up/down, pgup,pgdown to start/end
"\e[B": history-search-forward
"\e[A": history-search-backward
"\e[5~": beginning-of-history
"\e[6~": end-of-history
# mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word

$if Bash
  #do history expansion when space entered
  Space: magic-space
$endif
