# /etc/nanorc or ~/.nanorc
## To make sure a value is disabled, use "unset <option>".
## ========== HISTORY CONTROL ==========
unset historylog        # Don't save search/replace history or cursor position
unset positionlog

## ========== APPEARANCE ==========
set linenumbers          # Show line numbers
set softwrap             # Wrap long lines visually (no hard line breaks)

## ========== BEHAVIOR ==========
set autoindent           # Maintain indentation on new lines
set smarthome            # Toggle between line start and first non-whitespace
set trimblanks           # Strip trailing spaces/tabs on save
set breaklonglines       # Automatically hard-wrap overlong lines
set quickblank
set minibar
set mouse
set nonewlines           # Don't add newlines to the ends of files
set smooth               # Use smooth scrolling as the default.
set tabstospaces         # Convert typed tabs to spaces.
set tabsize 2

## For snipping trailing blanks when you save a file:
# bind ^S "{execute}| sed 's/\s\+$//' {enter}{savefile}" main
#include "~/.nano/apacheconf.nanorc"
#include "~/.nano/asciidoc.nanorc"
#include "~/.nano/conf.nanorc"
#include "~/.nano/dot.nanorc"
#include "~/.nano/dotenv.nanorc"
#include "~/.nano/etc-hosts.nanorc"
#include "~/.nano/fish.nanorc"
#include "~/.nano/git.nanorc"
#include "~/.nano/ini.nanorc"
#include "~/.nano/inputrc.nanorc"
#include "~/.nano/json.nanorc"
#include "~/.nano/makefile.nanorc"
#include "~/.nano/man.nanorc"
#include "~/.nano/markdown.nanorc"
#include "~/.nano/nanorc.nanorc"
#include "~/.nano/patch.nanorc"
#include "~/.nano/pkg-config.nanorc"
#include "~/.nano/pkgbuild.nanorc"
#include "~/.nano/rust.nanorc"
#include "~/.nano/sed.nanorc"
#include "~/.nano/sh.nanorc"
#include "~/.nano/systemd.nanorc"
#include "~/.nano/xml.nanorc"
#include "~/.nano/xresources.nanorc"
#include "~/.nano/yaml.nanorc"
