# ShellCheck settings

# All optional checks
enable=all

# shellcheck shell=bash

# List of checks to disable
#
# Check ID          Symbolic name                   Type
# SC2250            require-variable-braces         optional
disable=SC2250

# Add the script directory to the search path for source statements
source-path=SCRIPTDIR
