name: Unified Linters
on:
  pull_request:
  workflow_dispatch:
permissions:
  contents: write
  pull-requests: write
  checks: write
  packages: read
jobs:
  lint:
    uses: Ven0m0/.github/.github/workflows/unified-linters.yml@main
