name: MegaLinter
on:
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
permissions:
  contents: write
  issues: write
  pull-requests: write
jobs:
  megalinter:
    uses: Ven0m0/.github/.github/workflows/mega-linter.yml@main
    with:
      exclude_dirs: '.github,.git,.cache,go,node_modules,.var,.rustup,.wine,.zim,.void-editor,.vscode,.claude'
    secrets: inherit
