# https://megalinter.io
---
name: MegaLinter

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "**/*.{sh,bash,bashrc,profile}"
      - "**/*.{md,markdown}"
      - "**/*.{yml,yaml,toml,json,ini,conf}"
      - "**/*.{js,jsx,css,html}"
      - "Makefile"
      - ".{editorconfig,env,mega-linter.yml}"
  push:
    paths:
      - "**/*.{sh,bash,bashrc,profile}"
      - "**/*.{md,markdown}"
      - "**/*.{yml,yaml,toml,json,ini,conf}"
      - "**/*.{js,jsx,css,html}"
      - "Makefile"
      - ".{editorconfig,env,mega-linter.yml}"
      - ".github/**"
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
permissions:
  contents: write
  pull-requests: write

jobs:
  megalinter:
    name: MegaLinter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: MegaLinter
        uses: oxsecurity/megalinter@v9
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MEGALINTER_CONFIG: .mega-linter.yml
          VALIDATE_ALL_CODEBASE: true
          APPLY_FIXES: all
          APPLY_FIXES_EVENT: all
          APPLY_FIXES_MODE: commit
          PARALLEL: true
          SHOW_ELAPSED_TIME: true

      - name: Upload MegaLinter reports
        if: always()
        uses: actions/upload-artifact@v5
        with:
          name: MegaLinter-reports
          path: |
            megalinter-reports
            mega-linter-*
