name: Shell Lint
on:
  push:
    branches: [main, master]
    paths: ["**/*.{sh,bash,bashrc,profile}", "bash_*"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  lint:
    uses: Ven0m0/.github/.github/workflows/shell-lint.yml@main
    with:
      exclude_pattern: '(^|/)\.git/|(^|/)Linux-Settings/'
